.parent{
    margin-top:2rem;
    border: 1px solid yellow;
    /* width: 90%; */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-left:.8rem;
}
/* .parent{
    
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    min-height:30%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:auto;
    
    gap:.5rem;
} */

/* @media(max-width:600px){
    .parent{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:auto;
    }
}
@media(max-width:900px){
    .parent{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:auto;
    }
} */